XML/videotheque.dtd

 <?xml version="1.0" encoding="UTF-8"?>
 
 <!ELEMENT videotheque (films)+>
 <!ELEMENT films (film)+>
 <!ELEMENT film  (titre,genre,annee,realisateur,acteurs,description,media)>
 <!ELEMENT titre (#PCDATA)>
 <!ELEMENT genre (#PCDATA)>
 <!ELEMENT annee (#PCDATA)>
 <!ELEMENT realisateur (#PCDATA)>
 <!ELEMENT acteurs (acteur)+>
 <!ELEMENT acteur (#PCDATA)>
 <!ELEMENT description (#PCDATA)>
 <!ELEMENT media (#PCDATA)>
